
/wordpress/wp-content/uploads/

/wordpress/wp-content/themes/twentynineteen/
/wordpress/wp-content/themes/twentyseventeen/
/wordpress/wp-content/themes/twentysixteen/
/wordpress/wp-content/themes/twentytwenty/
/wordpress/wp-content/themes/twentytwentyone/
/wordpress/wp-content/themes/twentytwentytwo/
/wordpress/wp-content/themes/twentytwentythree/
/wordpress/wp-content/themes/twentytwentyfour/
/wordpress/wp-content/themes/twentytwentyfive/

/wordpress/wp-content/plugins/akismet/
/wordpress/wp-content/plugins/classic-editor/
/wordpress/wp-content/plugins/wordpress-importer/
